<template>
  <v-card :style="cssVars" @click="$emit('change-tile')">
<!--    <v-card-text>-->
      <v-img class="tile" contain height="105" width="70" :src="require('../assets/' + name + '.svg')"/>
<!--    </v-card-text>-->
<!--    <v-card-actions>-->
<!--      <v-btn @click="changeTile">Change</v-btn>-->
<!--    </v-card-actions>-->
  </v-card>
</template>
<script>
export default {
  name: "Tile",
  props: {
    name: {
      type: String,
      required: false
    },
    rotation: {
      type: Number,
      required: false,
      default: 0
    }
  },
  data: () => ({
  }),
  computed: {
    cssVars() {
      return {
        '--rotation': 'rotate(' + this.rotation + 'deg)'
      }
    }
  }
};
</script>
<style scoped>
  .v-card {
    display: inline-flex;
    transform: var(--rotation);
  }
  .tile {
    width: 100px;
    box-shadow:
      inset -3px -3px 6px 1px #b5b5aabb,
      inset 3px 3px 3px 1px #f9f4f0,
      1px 1px 0px 1px #bfbab4,
      2px 2px 0px 1px #bfbab4,
      3px 3px 0px 1px #bfbab4,
      4px 4px 0px 1px #bfbab4,
      5px 5px 0px 1px #bbb7b0,
      6px 6px 0px 1px #b5b5aa,
      7px 7px 0px 1px #087209,
      8px 8px 0px 1px #076808,
      9px 9px 0px 1px #065e07,
      10px 10px 10px 4px rgba(0,0,0,0.25);
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 14px;
    background-color: #f5f0eb;
    border-radius: 8px;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 14px;
    margin-bottom: 14px;
    position: relative;
  }
</style>

