<template>
  <v-app>
    <v-content >
      <v-container fluid>
        <v-row>
          <v-col cols="12">
            <tile v-for="(tile, index) in tableTiles"
                  :name=tile
                  :key="index"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <tile v-for="(tile, index) in playerFlowers"
                  :name=tile
                  :key="index"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <tile v-for="(tile, index) in playerHand"
                  :name=tile
                  :key="index"
                  v-on:change-tile="changeTile(index)"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-btn @click="playerHand.sort()">Sort</v-btn>
          </v-col>
        </v-row>

<!--            <v-row class="container">-->
<!--              <div class="leeg1"></div>-->
<!--              <Player class="player" :seat_number="turn + 2" />-->

<!--              <div class="leeg1"></div>-->
<!--              <Player class="player2" :seat_number="turn + 3" />-->

<!--              <TableWind class="tablewind" :seat_number="turn" />-->

<!--              <Player class="player2" :seat_number="turn + 1" />-->
<!--              <div class="leeg1"></div>-->
<!--              <Player class="player3" :seat_number="turn + 4" />-->
<!--              <div class="leeg1"></div>-->
<!--            </v-row>-->
<!--          </v-col>-->
<!--        </v-row>-->
<!--        ton yao (no dragon)-->
<!--        piang fu (2-8)-->
<!--        chock ngan-->



<!--      <v-row class="btn">-->
<!--        <v-col cols="1">-->
<!--          <v-btn class="but" @click="turn++">Prev</v-btn>-->
<!--        </v-col>-->
<!--        <v-col cols="1">-->
<!--          Winner-->
<!--          {{turn}}-->
<!--        </v-col>-->
<!--        <v-col cols="1">-->
<!--          <v-btn class="but" @click="turn=((turn-1)%16+16)%16">Next</v-btn>-->
<!--        </v-col>-->
<!--      </v-row>-->
<!--      <v-row class="btn">-->
<!--        <v-col cols="1">-->
<!--          <v-btn class="but" @click="turn=((turn+4)%16+16)%16">Prev</v-btn>-->
<!--        </v-col>-->
<!--        <v-col cols="1">-->
<!--          Table-->
<!--          {{parseInt(turn/4)}}-->
<!--        </v-col>-->
<!--        <v-col cols="1">-->
<!--          <v-btn class="but" @click="turn=((turn-4)%16+16)%16">Next</v-btn>-->


      </v-container>
    </v-content>

  </v-app>
</template>
<script>
// import Player from "./components/Player";
// import TableWind from "./components/TableWind";
import Tile from "./components/Tile";
export default {
  name: "App",
  components: {
    // Player,
    // TableWind,
    Tile
  },
  data: () => ({
    turn: 0,
    tileNames: [
      'Pin1',
      'Pin2',
      'Pin3',
      'Pin4',
      'Pin5',
      'Pin6',
      'Pin7',
      'Pin8',
      'Pin9',
      'Sou1',
      'Sou2',
      'Sou3',
      'Sou4',
      'Sou5',
      'Sou6',
      'Sou7',
      'Sou8',
      'Sou9',
      'Man1',
      'Man2',
      'Man3',
      'Man4',
      'Man5',
      'Man6',
      'Man7',
      'Man8',
      'Man9',
      'Ton',
      'Nan',
      'Shaa',
      'Pei',
      'Chun',
      'Haku',
      'Hatsu',
      'Pin1',
      'Pin2',
      'Pin3',
      'Pin4',
      'Pin5',
      'Pin6',
      'Pin7',
      'Pin8',
      'Pin9',
      'Sou1',
      'Sou2',
      'Sou3',
      'Sou4',
      'Sou5',
      'Sou6',
      'Sou7',
      'Sou8',
      'Sou9',
      'Man1',
      'Man2',
      'Man3',
      'Man4',
      'Man5',
      'Man6',
      'Man7',
      'Man8',
      'Man9',
      'Ton',
      'Nan',
      'Shaa',
      'Pei',
      'Chun',
      'Haku',
      'Hatsu',
      'Pin1',
      'Pin2',
      'Pin3',
      'Pin4',
      'Pin5',
      'Pin6',
      'Pin7',
      'Pin8',
      'Pin9',
      'Sou1',
      'Sou2',
      'Sou3',
      'Sou4',
      'Sou5',
      'Sou6',
      'Sou7',
      'Sou8',
      'Sou9',
      'Man1',
      'Man2',
      'Man3',
      'Man4',
      'Man5',
      'Man6',
      'Man7',
      'Man8',
      'Man9',
      'Ton',
      'Nan',
      'Shaa',
      'Pei',
      'Chun',
      'Haku',
      'Hatsu',
      'Pin1',
      'Pin2',
      'Pin3',
      'Pin4',
      'Pin5',
      'Pin6',
      'Pin7',
      'Pin8',
      'Pin9',
      'Sou1',
      'Sou2',
      'Sou3',
      'Sou4',
      'Sou5',
      'Sou6',
      'Sou7',
      'Sou8',
      'Sou9',
      'Man1',
      'Man2',
      'Man3',
      'Man4',
      'Man5',
      'Man6',
      'Man7',
      'Man8',
      'Man9',
      'Ton',
      'Nan',
      'Shaa',
      'Pei',
      'Chun',
      'Haku',
      'Hatsu',
      'Flower1',
      'Flower2',
      'Flower3',
      'Flower4',
      'Season1',
      'Season2',
      'Season3',
      'Season4'
    ],
    playerFlowers: [],
    playerHand: [],
    tableTiles: [],
    tiles: [
      require("@/assets/Pin1.svg"),
      require("@/assets/Pin2.svg"),
      require("@/assets/Pin3.svg"),
      require("@/assets/Pin4.svg"),
      require("@/assets/Pin5.svg"),
      require("@/assets/Pin6.svg"),
      require("@/assets/Pin7.svg"),
      require("@/assets/Pin8.svg"),
      require("@/assets/Pin9.svg"),
      require("@/assets/Sou1.svg"),
      require("@/assets/Sou2.svg"),
      require("@/assets/Sou3.svg"),
      require("@/assets/Sou4.svg"),
      require("@/assets/Sou5.svg"),
      require("@/assets/Sou6.svg"),
      require("@/assets/Sou7.svg"),
      require("@/assets/Sou8.svg"),
      require("@/assets/Sou9.svg"),
      require("@/assets/Man1.svg"),
      require("@/assets/Man2.svg"),
      require("@/assets/Man3.svg"),
      require("@/assets/Man4.svg"),
      require("@/assets/Man5.svg"),
      require("@/assets/Man6.svg"),
      require("@/assets/Man7.svg"),
      require("@/assets/Man8.svg"),
      require("@/assets/Man9.svg"),
      require("@/assets/Ton.svg"),
      require("@/assets/Nan.svg"),
      require("@/assets/Shaa.svg"),
      require("@/assets/Pei.svg"),
      require("@/assets/Chun.svg"),
      require("@/assets/Haku.svg"),
      require("@/assets/Hatsu.svg"),
      require("@/assets/Flower1.svg"),
      require("@/assets/Flower2.svg"),
      require("@/assets/Flower3.svg"),
      require("@/assets/Flower4.svg"),
      require("@/assets/Season1.svg"),
      require("@/assets/Season2.svg"),
      require("@/assets/Season3.svg"),
      require("@/assets/Season4.svg"),
    ]
  }),
  methods: {
    changeTile: function(index) {
      console.log('Discarding ' + this.playerHand[index]);
      this.discardFromPlayerHand(index);
      this.fetchToPlayerHand();
    },
    discardFromPlayerHand: function(index){
      //remove from hand
      let tile = this.playerHand.splice(index,1);
      const flowers = ['Flower1', 'Flower2', 'Flower3', 'Flower4', 'Season1', 'Season2', 'Season3', 'Season4']
      if(flowers.indexOf(tile[0]) != -1){
        this.playerFlowers.push(tile[0]);
      } else {
        //place on table
        this.tableTiles.push(tile[0]);
      }
    },
    fetchToPlayerHand: function(){
      //fetch tile
      let tile = this.tileNames.pop();
      //place in hand
      this.playerHand.push(tile);
    },
    shuffle(array) {
      let currentIndex = array.length, temporaryValue, randomIndex;
      // While there remain elements to shuffle...
      while (0 !== currentIndex) {
        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }
      return array;
    }
  },
  mounted() {
    this.shuffle(this.tileNames);
    for(let i=0; i<13; i++){
      this.playerHand.push(this.tileNames.pop())
    }
  }
}
</script>
<style scoped>
.container {
  /*display: grid;*/
  /*grid-template-columns: 80px 80px 80px; !*Make the grid smaller than the container*!*/
  grid-gap: 5px;
  justify-content: center;
  background-color: #2196f3;
  padding: 10px;
  /*height: auto;*/
  /*width: auto;*/
}
.player {
  width: 100px;
  border: 5px solid#333;
  background-color: rgb(40, 10, 88);
  border: 3px solid rgb(255, 217, 0);
  margin-left: 50px;
}

.tablewind {
  width: 100px;
  border: 3px solid#333;
  background-color: rgb(255, 0, 0);
  border: rgb(206, 41, 41) solid;
  border: 3px solid rgb(255, 217, 0);
  margin-left: 50px;
}

.btn {
  justify-content: center;
}

.btn-wind {
  justify-content: center;
  color: rgb(255, 0, 0);
  border: 3px solid#333;
}

.but {
  background-color: rgb(255, 238, 0);
  border: 3px solid#333;
}
</style>
